In [22]:
import pandas
import json
from pprint import pprint
from connect_sql_db import build_engine

In [23]:
engine = build_engine(database_name="database1",host="35.225.193.21")

In [4]:
dataset = []
for line in open("../../../data/yelp_dataset/yelp_academic_dataset_business.json"):
    dataset.append(json.loads(line))

In [5]:
len(dataset)

209393

In [6]:
for i in dataset[0:1]:
    pprint(list(i.keys()))

['business_id',
 'name',
 'address',
 'city',
 'state',
 'postal_code',
 'latitude',
 'longitude',
 'stars',
 'review_count',
 'is_open',
 'attributes',
 'categories',
 'hours']

In [7]:

categories = {}
categories_lst = []

for i in dataset:
    if i != None:
        if i["business_id"] != None and i["categories"] != None and "Restaurants" in i["categories"].split(","):
            categories[f'{i["business_id"]},{i["name"]}'] = i["categories"]
            for x in i["categories"].split(","):
                categories_lst.append(x.strip())

In [ ]:
# [
#     "Adult Education",
#     "Amateur Sports Teams",
#     "Acupuncture",
#     "Advertising",
#     "Airport Lounges",
#     "",
#     "",
#     ""
# ]
def search_categories():
    y = input()
    for i,v in categories.items():
        for x in v.split(","):
            if y == x.strip():
                z = i.split(",")
                print(z[0],"\n",z[1],"\n", v,"\n")
                with open("test.txt","w") as file:
                    file.write()

search_categories()

In [8]:
new_dict = dict(zip(categories_lst,[0 for i in range(len(categories_lst))]))

for i in categories_lst:
    if i in new_dict.keys():
        new_dict[i] += 1

set(categories_lst)

{'Acai Bowls',
 'Active Life',
 'Acupuncture',
 'Adult Education',
 'Adult Entertainment',
 'Advertising',
 'Afghan',
 'African',
 'Airport Lounges',
 'Airports',
 'Amateur Sports Teams',
 'American (New)',
 'American (Traditional)',
 'Amusement Parks',
 'Animal Shelters',
 'Antiques',
 'Appliances',
 'Appliances & Repair',
 'Arabian',
 'Arcades',
 'Argentine',
 'Armenian',
 'Art Classes',
 'Art Galleries',
 'Art Schools',
 'Art Supplies',
 'Arts & Crafts',
 'Arts & Entertainment',
 'Asian Fusion',
 'Australian',
 'Austrian',
 'Auto Glass Services',
 'Auto Parts & Supplies',
 'Auto Repair',
 'Automotive',
 'Bagels',
 'Bakeries',
 'Bangladeshi',
 'Banks & Credit Unions',
 'Bar Crawl',
 'Barbeque',
 'Barbers',
 'Bars',
 'Basque',
 'Beauty & Spas',
 'Bed & Breakfast',
 'Beer',
 'Beer Bar',
 'Beer Gardens',
 'Belgian',
 'Beverage Store',
 'Bistros',
 'Boat Dealers',
 'Boat Repair',
 'Bocce Ball',
 'Body Shops',
 'Books',
 'Bookstores',
 'Bowling',
 'Brasseries',
 'Brazilian',
 'Breakfast & Brunch',
 'Breweries',
 'Brewpubs',
 'British',
 'Bubble Tea',
 'Buffets',
 'Building Supplies',
 'Burgers',
 'Burmese',
 'Butcher',
 'Cabaret',
 'Cafes',
 'Cafeteria',
 'Cajun/Creole',
 'Cambodian',
 'Campgrounds',
 'Canadian (New)',
 'Candy Stores',
 'Cannabis Clinics',
 'Cantonese',
 'Car Dealers',
 'Car Rental',
 'Car Wash',
 'Cards & Stationery',
 'Caribbean',
 'Casinos',
 'Catalan',
 'Caterers',
 'Check Cashing/Pay-day Loans',
 'Cheese Shops',
 'Cheesesteaks',
 'Chicken Shop',
 'Chicken Wings',
 'Chinese',
 'Chiropractors',
 'Chocolatiers & Shops',
 'Churches',
 'Cinema',
 'Cocktail Bars',
 'Coffee & Tea',
 'Coffee & Tea Supplies',
 'Coffee Roasteries',
 'Colleges & Universities',
 'Colombian',
 'Comedy Clubs',
 'Comfort Food',
 'Comic Books',
 'Commercial Truck Repair',
 'Community Centers',
 'Community Service/Non-Profit',
 'Contractors',
 'Convenience Stores',
 'Conveyor Belt Sushi',
 'Cooking Classes',
 'Cooking Schools',
 'Cosmetics & Beauty Supply',
 'Country Clubs',
 'Country Dance Halls',
 'Couriers & Delivery Services',
 'Creperies',
 'Cuban',
 'Cupcakes',
 'Currency Exchange',
 'Custom Cakes',
 'Czech',
 'Dance Clubs',
 'Day Spas',
 'Delicatessen',
 'Delis',
 'Department Stores',
 'Desserts',
 'Diagnostic Services',
 'Dim Sum',
 'Diners',
 'Dinner Theater',
 'Discount Store',
 'Distilleries',
 'Dive Bars',
 'Do-It-Yourself Food',
 'Doctors',
 'Dominican',
 'Donairs',
 'Donuts',
 'Drugstores',
 'Dry Cleaning & Laundry',
 'Dumplings',
 'Education',
 'Egyptian',
 'Electricians',
 'Empanadas',
 'Eritrean',
 'Escape Games',
 'Estate Liquidation',
 'Ethical Grocery',
 'Ethiopian',
 'Ethnic Food',
 'Ethnic Grocery',
 'Event Planning & Services',
 'Eyebrow Services',
 'Eyelash Service',
 'Falafel',
 'Farmers Market',
 'Fashion',
 'Fast Food',
 'Festivals',
 'Filipino',
 'Financial Services',
 'Fish & Chips',
 'Fitness & Instruction',
 'Flea Markets',
 'Flooring',
 'Florists',
 'Flowers & Gifts',
 'Fondue',
 'Food',
 'Food Court',
 'Food Delivery Services',
 'Food Stands',
 'Food Tours',
 'Food Trucks',
 'Foundation Repair',
 'French',
 'Fruits & Veggies',
 'Furniture Stores',
 'Gas Stations',
 'Gastropubs',
 'Gay Bars',
 'Gelato',
 'German',
 'Gift Shops',
 'Gluten-Free',
 'Golf',
 'Golf Lessons',
 'Greek',
 'Grilling Equipment',
 'Grocery',
 'Guamanian',
 'Guest Houses',
 'Gyms',
 'Hainan',
 'Hair Loss Centers',
 'Hair Removal',
 'Hair Salons',
 'Hair Stylists',
 'Haitian',
 'Hakka',
 'Halal',
 'Handyman',
 'Hardware Stores',
 'Hawaiian',
 'Health & Medical',
 'Health Markets',
 'Heating & Air Conditioning/HVAC',
 'Herbs & Spices',
 'Himalayan/Nepalese',
 'Historical Tours',
 'Hobby Shops',
 'Home & Garden',
 'Home Decor',
 'Home Services',
 'Hong Kong Style Cafe',
 'Hookah Bars',
 'Horse Racing',
 'Hospitals',
 'Hot Dogs',
 'Hot Pot',
 'Hotel bar',
 'Hotels',
 'Hotels & Travel',
 'Hungarian',
 'Iberian',
 'Ice Cream & Frozen Yogurt',
 'Imported Food',
 'Indian',
 'Indonesian',
 'Indoor Playcentre',
 'Interior Design',
 'International',
 'International Grocery',
 'Internet Cafes',
 'Irish',
 'Irish Pub',
 'Italian',
 'Izakaya',
 'Japanese',
 'Japanese Curry',
 'Jazz & Blues',
 'Jewelry',
 'Juice Bars & Smoothies',
 'Junk Removal & Hauling',
 'Karaoke',
 'Kebab',
 'Kids Activities',
 'Kitchen & Bath',
 'Kitchen Supplies',
 'Knife Sharpening',
 'Korean',
 'Kosher',
 'Laboratory Testing',
 'Lakes',
 'Laotian',
 'Latin American',
 'Laundry Services',
 'Lebanese',
 'Libraries',
 'Lighting Fixtures & Equipment',
 'Live/Raw Food',
 'Local Flavor',
 'Local Services',
 'Lounges',
 'Macarons',
 'Mags',
 'Malaysian',
 'Marinas',
 'Masonry/Concrete',
 'Massage',
 'Massage Therapy',
 'Mattresses',
 'Meat Shops',
 'Medical Cannabis Referrals',
 'Medical Centers',
 'Medical Spas',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Mobile Phones',
 'Modern European',
 'Mongolian',
 'Moroccan',
 'Music & DVDs',
 'Music & Video',
 'Music Venues',
 'Musicians',
 'Nail Salons',
 'Nail Technicians',
 'Naturopathic/Holistic',
 'New Mexican Cuisine',
 'Nightlife',
 'Noodles',
 'Nutritionists',
 'Office Equipment',
 'Olive Oil',
 'Organic Stores',
 'Outdoor Furniture Stores',
 'Outlet Stores',
 'Pain Management',
 'Paint & Sip',
 'Paint-Your-Own Pottery',
 'Pakistani',
 'Pan Asian',
 'Pancakes',
 'Parks',
 'Party & Event Planning',
 'Party Equipment Rentals',
 'Party Supplies',
 'Pasta Shops',
 'Patisserie/Cake Shop',
 'Performing Arts',
 'Persian/Iranian',
 'Personal Chefs',
 'Peruvian',
 'Pet Adoption',
 'Pet Services',
 'Pets',
 'Pharmacy',
 'Photography Stores & Services',
 'Physical Therapy',
 'Piano Bars',
 'Pita',
 'Pizza',
 'Poke',
 'Police Departments',
 'Polish',
 'Polynesian',
 'Pool Halls',
 'Pop-Up Restaurants',
 'Portuguese',
 'Poutineries',
 'Pretzels',
 'Professional Services',
 'Pub Food',
 'Public Markets',
 'Public Services & Government',
 'Public Transportation',
 'Pubs',
 'Puerto Rican',
 'Race Tracks',
 'Ramen',
 'Real Estate',
 'Real Estate Services',
 'Reflexology',
 'Religious Organizations',
 'Resorts',
 'Restaurant Supplies',
 'Restaurants',
 'Russian',
 'Salad',
 'Salvadoran',
 'Sandwiches',
 'Scandinavian',
 'Seafood',
 'Seafood Markets',
 'Senegalese',
 'Shanghainese',
 'Shared Office Spaces',
 'Shaved Ice',
 'Shaved Snow',
 'Shopping',
 'Shopping Centers',
 'Sicilian',
 'Singaporean',
 'Skin Care',
 'Skydiving',
 'Slovakian',
 'Smokehouse',
 'Soba',
 'Social Clubs',
 'Soul Food',
 'Soup',
 'South African',
 'Southern',
 'Spanish',
 'Speakeasies',
 'Specialty Food',
 'Specialty Schools',
 'Sporting Goods',
 'Sports Bars',
 'Sri Lankan',
 'Stadiums & Arenas',
 'Steakhouses',
 'Street Vendors',
 'Strip Clubs',
 'Studio Taping',
 'Sugar Shacks',
 'Summer Camps',
 'Supper Clubs',
 'Sushi Bars',
 'Swimming Pools',
 'Swiss Food',
 'Synagogues',
 'Syrian',
 'Szechuan',
 'Tabletop Games',
 'Tacos',
 'Taiwanese',
 'Tapas Bars',
 'Tapas/Small Plates',
 'Tea Rooms',
 'Team Building Activities',
 'Teppanyaki',
 'Tex-Mex',
 'Thai',
 'Themed Cafes',
 'Thrift Stores',
 'Tiki Bars',
 'Tobacco Shops',
 'Tours',
 'Trainers',
 'Transportation',
 'Trinidadian',
 'Truck Rental',
 'Turkish',
 'Ukrainian',
 'Used',
 'Vegan',
 'Vegetarian',
 'Venezuelan',
 'Venues & Event Spaces',
 'Videos & Video Game Rental',
 'Vietnamese',
 'Vintage & Consignment',
 'Vinyl Records',
 'Vitamins & Supplements',
 'Waffles',
 'Walking Tours',
 'Waxing',
 'Web Design',
 'Wedding Planning',
 'Weight Loss Centers',
 'Whiskey Bars',
 'Wholesale Stores',
 'Wholesalers',
 'Wigs',
 'Wine & Spirits',
 'Wine Bars',
 'Wine Tasting Room',
 'Wine Tours',
 'Wineries',
 "Women's Clothing",
 'Wraps',
 'Yelp Events'}

In [9]:
data = {}
for key,value in new_dict.items():
    data[key] = [value]

In [10]:
business_categories_count = pandas.DataFrame(data, index = ["count"])

In [11]:
business_categories_count = business_categories_count.T
business_categories_count.head(10)

                count
Restaurants     19456
Cheesesteaks       58
Poutineries        59
Burgers          1653
Food             3258
Vietnamese        467
Soup              224
Lebanese           78
Middle Eastern    355
Fast Food        2493

In [12]:
 business_categories_count = business_categories_count.sort_values("count" , ascending = False).copy()

In [13]:
business_categories_count.loc[business_categories_count["count"] < 5].head(10)

                  count
Resorts               4
Pancakes              4
Sicilian              4
Home Decor            4
Wedding Planning      4
Dominican             4
Wigs                  4
Contractors           4
Burmese               4
Macarons              4

In [15]:
empty = []
for line in open("../../../data/yelp_dataset/yelp_academic_dataset_business.json","r"):
    empty.append(json.loads(line))

In [21]:
attributes_lst = []
for i in empty:
        if i["attributes"] != None:
            for attribute in i["attributes"].keys():
                attributes_lst.append(attribute)

In [23]:
set(attributes_lst)

{'AcceptsInsurance',
 'AgesAllowed',
 'Alcohol',
 'Ambience',
 'BYOB',
 'BYOBCorkage',
 'BestNights',
 'BikeParking',
 'BusinessAcceptsBitcoin',
 'BusinessAcceptsCreditCards',
 'BusinessParking',
 'ByAppointmentOnly',
 'Caters',
 'CoatCheck',
 'Corkage',
 'DietaryRestrictions',
 'DogsAllowed',
 'DriveThru',
 'GoodForDancing',
 'GoodForKids',
 'GoodForMeal',
 'HairSpecializesIn',
 'HappyHour',
 'HasTV',
 'Music',
 'NoiseLevel',
 'Open24Hours',
 'OutdoorSeating',
 'RestaurantsAttire',
 'RestaurantsCounterService',
 'RestaurantsDelivery',
 'RestaurantsGoodForGroups',
 'RestaurantsPriceRange2',
 'RestaurantsReservations',
 'RestaurantsTableService',
 'RestaurantsTakeOut',
 'Smoking',
 'WheelchairAccessible',
 'WiFi'}

In [16]:
business_categories_count.sort_values("count" , ascending = False).head(30)

                           count
Restaurants                19456
Food                        3258
Fast Food                   2493
Pizza                       2311
Sandwiches                  2050
Mexican                     1872
American (Traditional)      1713
Burgers                     1653
Chinese                     1653
Nightlife                   1645
Bars                        1561
Breakfast & Brunch          1476
Italian                     1398
American (New)              1148
Coffee & Tea                 897
Japanese                     879
Cafes                        818
Chicken Wings                724
Sushi Bars                   713
Seafood                      657
Salad                        644
Asian Fusion                 539
Barbeque                     535
Indian                       522
Event Planning & Services    521
Thai                         515
Mediterranean                494
Vietnamese                   467
Delis                        440
Canadian (New)               433

In [17]:
business_table = pandas.read_sql("select * from business_table", con = engine)

In [20]:
business_table.count()

business_id     20311
name            20311
address         20311
city            20311
state           20311
postal_code     20311
latitude        20311
longitude       20311
stars           20311
review_count    20311
is_open         20311
dtype: int64

In [21]:
len(set(business_table["business_id"].tolist()))

20311

In [127]:
last_df

,business_id,name,byob,bikeparking,businessacceptsbitcoin,businessacceptscreditcards,byappointmentonly,caters,coatcheck,corkage,...,restaurantsattire_dressy,restaurantsattire_formal,restaurantsattire_no dress code,restaurantspricerange2_$10_and_under,restaurantspricerange2_$11_to_30,restaurantspricerange2_$31_to_60,restaurantspricerange2_$61_and over,wifi_false,wifi_free,wifi_paid
0,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
1,rVBPQdeayMYht4Uv_FOLHg,Gourmet Burger Company,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,98hyK2QEUeI8v2y0AghfZA,Pho Lee's Vietnamese Restaurant,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,LoRef3ChgZKbxUio-sHgQg,Amir,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,tLpkSwdtqqoXwU0JAGnApw,Wendy's,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18833,8dK-8e006F_it5bNxTVlaQ,Famous Dave's Bar-B-Que,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
18834,GAgEoHcf4PSuZRS5Zd3ltA,Q's Shawarma,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
18835,wjZ12shpUWAy4Boy0G5z1g,Island Buffet,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
18836,BAVuLTDmpSzDCk37A5HjtQ,Bruegger's Bagels,0,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0
18837,hskVqZCPqy-omm9CHi44xQ,Domino's,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [126]:
def new_funct(x):
    if x == "false":
        return 0
    elif x == True or x == "True":
        return 1
    else:
        return x

for i in last_df.columns:
    last_df[i] = last_df[i].apply(lambda x: new_funct(x))

In [144]:
last_df.to_sql("attributes_table", con = engine, index = False, if_exists="append",            method = 'multi',
            chunksize = 10000)

In [135]:
for i in last_df.columns:
    print(i)

business_id
name
byob
bikeparking
businessacceptsbitcoin
businessacceptscreditcards
byappointmentonly
caters
coatcheck
corkage
dogsallowed
drivethru
goodfordancing
goodforkids
happyhour
hastv
open24hours
outdoorseating
restaurantscounterservice
restaurantsdelivery
restaurantsgoodforgroups
restaurantsreservations
restaurantstableservice
restaurantstakeout
smoking
wheelchairaccessible
alcohol_false
alcohol_beer_and_wine
alcohol_full_bar
byobcorkage_false
byobcorkage_yes_corkage
byobcorkage_yes_free
noiselevel_average
noiselevel_loud
noiselevel_quiet
noiselevel_very_loud
restaurantsattire_casual
restaurantsattire_dressy
restaurantsattire_formal
restaurantsattire_no_dress_code
restaurantspricerange2_$10_and_under
restaurantspricerange2_$11_to_30
restaurantspricerange2_$31_to_60
restaurantspricerange2_$61_and_over
wifi_false
wifi_free
wifi_paid

In [134]:
last_df.columns = [i.lower() for i in last_df.columns]

In [131]:
last_df.columns

Index(['business_id', 'name', 'byob', 'bikeparking', 'businessacceptsbitcoin',
       'businessacceptscreditcards', 'byappointmentonly', 'caters',
       'coatcheck', 'corkage', 'dogsallowed', 'drivethru', 'goodfordancing',
       'goodforkids', 'happyhour', 'hastv', 'open24hours', 'outdoorseating',
       'restaurantscounterservice', 'restaurantsdelivery',
       'restaurantsgoodforgroups', 'restaurantsreservations',
       'restaurantstableservice', 'restaurantstakeout', 'smoking',
       'wheelchairaccessible', 'alcohol_False', 'alcohol_beer_and_wine',
       'alcohol_full_bar', 'byobcorkage_False', 'byobcorkage_yes_corkage',
       'byobcorkage_yes_free', 'noiselevel_average', 'noiselevel_loud',
       'noiselevel_quiet', 'noiselevel_very_loud', 'restaurantsattire_casual',
       'restaurantsattire_dressy', 'restaurantsattire_formal',
       'restaurantsattire_no_dress_code',
       'restaurantspricerange2_$10_and_under',
       'restaurantspricerange2_$11_to_30', 'restaurantspricerange2_$31_to_60',
       'restaurantspricerange2_$61_and_over', 'wifi_false', 'wifi_free',
       'wifi_paid'],
      dtype='object')

In [145]:
len(set(business_table.business_id.tolist()))

20311

In [142]:
len(last_df.business_id.tolist())

18838

In [148]:
new_df = pandas.merge(business_table, last_df, how="inner", on="business_id")

In [151]:
for i in new_df.columns:
    print(i)

business_id
name_x
address
city
state
postal_code
latitude
longitude
stars
review_count
is_open
name_y
byob
bikeparking
businessacceptsbitcoin
businessacceptscreditcards
byappointmentonly
caters
coatcheck
corkage
dogsallowed
drivethru
goodfordancing
goodforkids
happyhour
hastv
open24hours
outdoorseating
restaurantscounterservice
restaurantsdelivery
restaurantsgoodforgroups
restaurantsreservations
restaurantstableservice
restaurantstakeout
smoking
wheelchairaccessible
alcohol_false
alcohol_beer_and_wine
alcohol_full_bar
byobcorkage_false
byobcorkage_yes_corkage
byobcorkage_yes_free
noiselevel_average
noiselevel_loud
noiselevel_quiet
noiselevel_very_loud
restaurantsattire_casual
restaurantsattire_dressy
restaurantsattire_formal
restaurantsattire_no_dress_code
restaurantspricerange2_$10_and_under
restaurantspricerange2_$11_to_30
restaurantspricerange2_$31_to_60
restaurantspricerange2_$61_and_over
wifi_false
wifi_free
wifi_paid

In [153]:
new_df[["business_id","name_x","name_y"]]

,business_id,name_x,name_y
0,W7hCuNdn2gzehta6eSHzgQ,Pete's Fish & Chips,Pete's Fish & Chips
1,PlP0c_u3g-3LiWHpb2XnOQ,Lee Cafe,Lee Cafe
2,AN0bWhisCf6LN9eHZ7DQ3w,Los Olivos Ristorante,Los Olivos Ristorante
3,AtD6B83S4Mbmq0t7iDnUVA,Veggie House,Veggie House
4,ebwM2pckHieHvK6h1scuBw,Lazeez Mediterranean Grill,Lazeez Mediterranean Grill
...,...,...,...
5495,vpwyL6NHm-pTWJ5IeJb9yw,Cocina Mendoza,Cocina Mendoza
5496,wTKMQD3nOwEKGZmtiiiGXA,SpoonZ Cafe,SpoonZ Cafe
5497,_JA3TLF5JJ95mthVwEdFuw,Steak â€™n Shake,Steak â€™n Shake
5498,7V82ANZ7_ARkA7o0pAMAlA,Galaxy Cafe,Galaxy Cafe
5499,8dK-8e006F_it5bNxTVlaQ,Famous Dave's Bar-B-Que,Famous Dave's Bar-B-Que