In [1]:
#import dependencies
import pandas
from connect_sql_db import build_engine

In [2]:
#create engine for db
engine = build_engine()

# Collect Data

In [3]:
#create a df for each movie csv
movies_df = pandas.read_csv("../data/movies/IMDb movies.csv",low_memory=False)
names_df = pandas.read_csv("../data/movies/IMDb names.csv",low_memory=False)
ratings_df = pandas.read_csv("../data/movies/IMDb ratings.csv",low_memory=False)
title_principlas_df = pandas.read_csv("../data/movies/IMDb title_principals.csv",low_memory=False)

#create a df for each restaurant csv
future_df = pandas.read_csv("../data/restaurant_data/Future50.csv",low_memory=False)
independence_df = pandas.read_csv("../data/restaurant_data/Independence100.csv",low_memory=False)
top250_df = pandas.read_csv("../data/restaurant_data/Top250.csv",low_memory=False)

#movies data dictionary
movies_tables = {
    "movies":movies_df,
    "names":names_df,
    "ratings":ratings_df,
    "title_principals": title_principlas_df
}

#restaurant data dictionary
rest_tables = {
    "Future_50":future_df,
    "Independence_100":independence_df,
    "Top250":top250_df
}

# Functions for Interacting with Postgre

In [4]:
#return movies dataframe dictionary from sql
def read_in_movies():
    return_me = {}
    for i,v in movies_tables.items():
        return_me[i] = pandas.read_sql(f'select * from "{i}"',con=engine)
        
    return return_me

#return restaurant dataframe dictionary from sql
def read_in_rest():
    return_me = {}
    for i,v in rest_tables.items():
        return_me[i] = pandas.read_sql(f'select * from "{i}"',con=engine)
        
    return return_me


#send dataframe dictionary to sql
def send_in_dataframes(tables_dict):
    for i,v in tables_dict.items():
        v.to_sql(f"{i}", con = engine, index = False)
        print(f"{i} movies sent...")
    return "dataframe data sent"

#drop dataframe dictionary from sql
def drop_dataframes(tables_dict):
    with engine.connect() as connection:
        for i in tables_dict.keys():
            connection.execute(f'DROP TABLE "{i}"')
            print(f"{i} dropped...")
    return "tables dropped"

# ETL Process

In [5]:
#sending movies dfs to sql
send_in_dataframes(movies_tables)

movies movies sent...
names movies sent...
ratings movies sent...
title_principals movies sent...

'dataframe data sent'

In [6]:
#sending restaurnt dfs to sql
send_in_dataframes(rest_tables)

Future_50 movies sent...
Independence_100 movies sent...
Top250 movies sent...

'dataframe data sent'

## Movies Data

In [7]:
#read in movies data from sql
dictionary_of_movies_dfs = read_in_movies()

for table_name,dataframe in dictionary_of_movies_dfs.items():
    print(table_name + ":","\n\n",dataframe.dtypes)

movies:

 imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object
names:

 imdb_name_id              object
name                      object
birth_name                object
height                   float64
bio                       object
birth_details             object
date_of_birth             object
place_of_birth            object
death_details             object
date_of_death             object
place_of_death            object
reason_of_death           object
spouses_string            object
spouses                    int64
divorces                   int64
spouses_with_children      int64
children                   int64
dtype: object
ratings:

 imdb_title_id                 object
weighted_average_vote        float64
total_votes                    int64
mean_vote                    float64
median_vote                  float64
votes_10                       int64
votes_9                        int64
votes_8                        int64
votes_7                        int64
votes_6                        int64
votes_5                        int64
votes_4                        int64
votes_3                        int64
votes_2                        int64
votes_1                        int64
allgenders_0age_avg_vote     float64
allgenders_0age_votes        float64
allgenders_18age_avg_vote    float64
allgenders_18age_votes       float64
allgenders_30age_avg_vote    float64
allgenders_30age_votes       float64
allgenders_45age_avg_vote    float64
allgenders_45age_votes       float64
males_allages_avg_vote       float64
males_allages_votes          float64
males_0age_avg_vote          float64
males_0age_votes             float64
males_18age_avg_vote         float64
males_18age_votes            float64
males_30age_avg_vote         float64
males_30age_votes            float64
males_45age_avg_vote         float64
males_45age_votes            float64
females_allages_avg_vote     float64
females_allages_votes        float64
females_0age_avg_vote        float64
females_0age_votes           float64
females_18age_avg_vote       float64
females_18age_votes          float64
females_30age_avg_vote       float64
females_30age_votes          float64
females_45age_avg_vote       float64
females_45age_votes          float64
top1000_voters_rating        float64
top1000_voters_votes         float64
us_voters_rating             float64
us_voters_votes              float64
non_us_voters_rating         float64
non_us_voters_votes          float64
dtype: object
title_principals:

 imdb_title_id    object
ordering          int64
imdb_name_id     object
category         object
job              object
characters       object
dtype: object

## Restaurant Data

In [12]:
#read in restaurant data from sql
dictionary_of_restaurant_dfs = read_in_rest()